<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- setup in server config <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        <title>dokify{% if title %} - status {% endif %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="dokify,coordinacion de actividades empresariales,cae,contratas,subcontratas,requisitos,requerimientos,contratistas,prevencion,riesgos laborales,prl,empresa,red colaborativa,empresarial" />
        <meta name="viewport" content="width=device-width">
        <style id="fonts">{% include 'css/ubuntu.css' %}{% include 'css/helveticaneue.css' %}</style>

        <link rel="stylesheet" href="css/web.foundation.css" />
    
    </head>
        
        <div id="canvas">
            <div id="wrapper">
                <header class="hide-on-print">
                    <nav class="row" role="navigation">
                        <a id="logo" class="column two mobile-two medium-text-center" href="/">
                            <img src="img/shared/logo-web.png" alt="dokify" height="36" width="126" />
                        </a>                        
                    </nav>
                </header>