{% include 'header.html' with {'page': 'status', 'title': 'system status', 'description': 'Dokify service status'} %}
        
    <section id="main-image" class="small {% if problems %}red{% else %}green{% endif %}">
        <div class="row">
            <div class="twelve columns text-center">
                <hgroup>
                    <h2>system status</h2>
                </hgroup>
            </div>
        </div>
    </section>
    
    <section class="row mobile-padding mobile-margin-zero">
        <div class="twelve columns text-center mtop-twenty">
            {% if problems %}
                <h3 class="red">
                    Looks like something is wrong!
                </h3>
                <h5 class="red">
                    We are investigating the issue
                </h5>
            {% else %}
                <h3 class="green">
                   All systems working propertly
                </h3>
            {% endif %}
        </div>
    </section>
    <hr class="row line-section mtop-twenty" />

    
    <section class="row mobile-padding mobile-margin-zero"> 
        <div class="four columns centered text-center mtop-twenty">
            <ul class="inline-list">
                {% for instance in instances %}
                    {% if instance.balancer.status != 'off' %}
                        <li>
                        <p>
                            <strong>{{ instance.id }}</strong>
                        </p>                    
                            cpu {{ instance.cpu }}
                        <br>                    
                            mem {{ instance.memory.percentage }}
                        </br>
                        <br>                    
                            conn {{ instance.connections }}
                        </br>
                        <h5 class="green">
                            {{ instance.balancer.status }}
                        </h5>
                        </li>
                    {% else %}
                        <li>
                        <p>
                            <strong>{{ instance.id }}</strong>
                        </p>                    
                        <h5 class="red">
                            {{ instance.balancer.status }}
                        </h5>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="row mobile-padding mobile-margin-zero mbottom-thirty">
        <div class="twelve columns text-center mtop-twenty">
            <p>
            Running {{ running | length }} machine(s) - {{ loadAvg }}% load average
            </p>
            <p>
            Last action: <strong>{{ action.text }}</strong> at <strong>{{ action.time | date ("Y/m/d h:i") }}</strong>
            </p>
        </div>
    </section>
    
    
{% include 'footer.html' %}
